<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="hera" transaction-type="RESOURCE_LOCAL">

        <class>org.hakeem.hera.entity.party.Party</class>
        <class>org.hakeem.hera.entity.party.Person</class>
        <class>org.hakeem.hera.entity.party.Organization</class>
        <class>org.hakeem.hera.entity.types.Country</class>
        <class>org.hakeem.hera.entity.party.PartyAddress</class>
        <class>org.hakeem.hera.entity.party.PartyRole</class>
        <class>org.hakeem.hera.entity.party.PartyContact</class>
        <class>org.hakeem.hera.entity.hr.Employee</class>
        <class>org.hakeem.hera.entity.party.PartyIdentifier</class>
        <class>org.hakeem.hera.entity.hr.Company</class>
        <class>org.hakeem.hera.entity.party.PartyRelationship</class>
        <class>org.hakeem.hera.entity.hr.Employment</class>
        <class>org.hakeem.hera.entity.hr.Position</class>
        <class>org.hakeem.hera.entity.hr.PositionResponsibility</class>
        <class>org.hakeem.hera.entity.hr.PositionType</class>
        <class>org.hakeem.hera.entity.finance.BudgetItem</class>
        <class>org.hakeem.hera.entity.hr.PositionTypeClass</class>
        <class>org.hakeem.hera.entity.hr.PositionClassificationType</class>
        <class>org.hakeem.hera.entity.hr.PositionFulfillment</class>
        <class>org.hakeem.hera.entity.finance.Bank</class>
        <class>org.hakeem.hera.entity.timesheet.Timesheet</class>
        <class>org.hakeem.hera.entity.timesheet.TimeEntry</class>
        <class>org.hakeem.hera.entity.timesheet.Workeffort</class>
        <class>org.hakeem.hera.entity.payroll.Paycheck</class>
        <class>org.hakeem.hera.entity.finance.BankAccount</class>
        <class>org.hakeem.hera.entity.finance.Currency</class>
        <class>org.hakeem.hera.entity.hr.PositionStructure</class>
    </persistence-unit>
</persistence>
